language: java
dist: xenial
sudo: false

branches:
  except:
    - gh-pages

env:
  global:
  - secure: Meg2GJUNFnDyIYsFIcTbAXsnSrSbQFcXJPBanWSSJ4W91YBBi/YgLcbo9nu8ZXDnvmRz4rbnT6R8NYdVD6MqYryQixqLnhIs7IDZCZjxv9uJUjfHNCoJzJRbPYVkI2LUpKb+EwEeVu7GIQWXNbdOu/pRdXQ8fRHavmOYlWCvziMafw+51xkyk/zYKGj3qoNPucS1QDAL6Ho/t4JrEnrHsEC/ygvu9mt9rKClBN3aLoTszRnjpV1MrSa37y8OC0TxdBUNFRCRfYKj7At3u79WkQ2RwSod84t8y1zkH/rQq/VkBGci3ELDKa9+LwiHHcoAmkktENOHEVgbXsrunOLnVS7bIHEdHSeTUBq5vt0EICAz0Mn5kGa8+0+9fTKPIZWrVYQnFvyRl5WUYED1fNxgvO2hAKCPwLpj2ZWK7bCFKVafeo56QmRDCxGSEZ0xBieUVdAPfhBSHw1g7cJDU3cpqggiooSd5e7yZ4fvIz3CWda/ypnyKqFsYC3joPg54E3NZ28CNp4v4py/40R3fOORgThS7lHOp3JoXApvVz3uObEXxIywAio/5lFtqKc7PMXZhkVd0Rys3ftuqFQY9RtLzTFvicmesn97Lae/vK/JtOBspbGkzlfBFDK1Zaa/IHNF5rSB4iAnK0ELQvZFvLB6LDtFCCnMdEbQf9bJ1Ndfdig=

addons:
  apt:
    update: true

matrix:
  include:
    - name: "Java 8 Tests"
      jdk: openjdk8
      env: TESTENV=tests
      script: travis_retry mvn test
    - name: "GitHub Pages"
      jdk: openjdk8
      env: TESTENV=cover FYI="this also builds documentation for tags"
      script: '[[ -n "$TRAVIS_TAG" ]] && ./deploy-docs.sh || true'
      addons:
        apt:
          packages:
            - python3
            - python3-pip
            - python-virtualenv
            - make

after_success:
  - '[[ "$TESTENV" == "tests" ]] && bash <(curl -s https://codecov.io/bash) -f engine.io-server-coverage/target/site/jacoco-aggregate/jacoco.xml'
